
.mailDiv{
	margin: 1rem auto;
	padding:1rem;
	border:1px solid black;
	text-align:center;
	width:50rem;
	height:auto;
	display:flex;
	flex-direction:column;
}

.storeImage{
	width:30rem;
	height:20rem;
}

.title{
	text-align:center;
}