<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Reset Password verification</title>
<style>
.mailDiv {
	margin: 1rem auto;
	padding: 1rem;
	border: 1px solid black;
	text-align: center;
	width: 60rem;
	height: auto;

}

</style>
</head>
<body>
	<div class="mailDiv">
		<div>
			<h1>FastMart</h1>
		</div>
		<div>
		   <p> 	Hi <b th:text="${email}"></b> </p>
		</div>
		<div>
		  <p>	Please enter this OTP to reset your password. Your OTP is <b
				th:text="${otp}"></b>  </p>
		</div>

	</div>


</body>
</html>